# Django Security & Core Settings
SECRET_KEY=
DEBUG=
ALLOWED_HOSTS=

# Neon Postgres Database URL
DATABASE_URL=

# Cloudinary Media Storage Configurations
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
